/* You can add global styles to this file, and also import other style files */
#main_container{
    background-image:url("https://www.village-hotels.co.uk/media/2625/dsc_2454.jpg") ;
    height:auto; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:90px;
    background-attachment: fixed;

}
.bg {
    background-color: #E0393B;
}
#Fo{

    font: Merriweather Sans;
}

 #Mynavbar{
padding-left:0px;
}

#bot-nav
{
    background-color: #E0393B;
    color:white;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
