<!--The content below is only a placeholder and can be replaced.-->
<!-- <button routerLink="/login">Login!</button>
<button routerLink="/signup">SignUp!</button>
<button routerLink="">Home</button> -->
<div class="full">
<div class="header">
  <h2>Module Routing!</h2>
</div>
<button  type="button" routerLink="/login" class="btn btn-info">Login!</button>&nbsp;
<button routerLink="/signup" type="button" class="btn btn-info">SignUp!</button>&nbsp;
</div>
<!--<button routerLink="" type="button" class="btn btn-info">Home</button> <br><br>-->
<router-outlet></router-outlet>
