/* .filter{
    background: #8CE9EA;
} */
/* .head{
    color: #09BBC6;
}
.full{
    background: #CAE2E8;
} */
.abcd{
    height:770px;
}
.filter{
    background: #CAE2E8;
}
.image{
    background-image: url("D:\Angular\ProjectDemo\src\assets\data\hotel.jpg");
}