.c{
    margin-right:50%;
}
.a{
    background :orange;
   }
   .b{
       margin-right: 65%;
       color:blue;
   }
   .p{
       color:blue;
       margin-right: 55%;
   }
   .clear{
       margin-right:30%;
   }
   .fb{
       margin-right: 60%;
   }
   .abc{
       text-align: left;
   }
   .forms{
       text-align: left;
   }
   .nm{
       text-align: left;
       color:blue;
   }
   .feed{
       text-align: left;
       color:#F04D0B;
   }