.textField{
    color : red;
}
.main-content{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgO_VOEeyNKTnI4Qjf_IQzVslwAbuTCk5u5q7JbQLWNfjkHl71");
    background-size: 100%;
} 
