@{
    ViewBag.Title = "Hey! Smile :)";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I don't know what brought you here.But happy to know that you are here.</p>
<p>Human Library is a place where people are happy to tell you their stories.</p>
<p>You will have different genres to pick just as you do with a book.Trust me, it will be one hell of an experience.</p>
<p>You don't know what awaits you. Sign up for free. <strong>We are very delighted to put a smile on your face</strong></p>

