@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Human Library<br />
    LA, Boston 1234-5678<br />
    <abbr title="Phone">P:</abbr>
    649 34234 55
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:hlibrary@oops.com">hlibrary@oops.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:noemailid@example.com">noemailid@example.com</a>
</address>